<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519197150132-9735db284lr0nn7s53q2j9fl8g21ihl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519197150132-9735db284lr0nn7s53q2j9fl8g21ihl2</string>
	<key>API_KEY</key>
	<string>AIzaSyCKHNHBDzzZUs9YCszGy2b7EXgm140lQog</string>
	<key>GCM_SENDER_ID</key>
	<string>519197150132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iglab.diabeteslife</string>
	<key>PROJECT_ID</key>
	<string>diabeteslife</string>
	<key>STORAGE_BUCKET</key>
	<string>diabeteslife.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519197150132:ios:25842448a47c3d5be040e1</string>
</dict>
</plist>